#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include "../helpers/helper.h"
#include "../helpers/keys_de_mac.h"
#include "../helpers/keys_de_win.h"

#define BASE_M  0
#define LOWER_M 1
#define RAISE_M 2
#define BASE_W  3
#define LOWER_W 4
#define RAISE_W 5
#define ADJ     6

&mt {
  // CAGS
  quick-tap-ms = <100>;
  global-quick-tap;
  flavor = "tap-preferred";
  tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        combo_backspace {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp BSPC>;
        };
        combo_delete {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp DEL>;
        };
        combo_word_delete {
            timeout-ms = <50>;
            key-positions = <16 18>;
            bindings = <&kp LA(BSPC)>;
        };
        combo_tab {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp TAB>;
        };
        combo_toggle_os {
            timeout-ms = <50>;
            key-positions = <4 5>;
            bindings = <&tog BASE_W>;
        };
    };

    macros {
 
    };

    behaviors {

    };

    keymap {
        compatible = "zmk,keymap";

        BASE_M_layer {
            label= "BASE_M";
// -------------------------------------------------------------------------------------------------------------------------------
// |    Q    |    W    |    F    |    P    |    B    |                         |    J    |    L    |    U    |    Y    |    ;    |
// |    A    |    R    |    S    |    T    |    G    |                         |    M    |    N    |    E    |    I    |    O    |
// |    Z    |    X    |    C    |    D    |    V    |                         |    K    |    H    |    ,    |    .    |    /    |
//                     |   LGUI  |  LSHFT  | LOWER_M |                         | RAISE_M |  ENTER  |  L ALT  |
            bindings = <

    &kp Q       &kp W       &kp F       &kp P       &kp B           &kp J       &kp L       &kp U       &kp DM_Y    &SMM_SEMI
    &mt LCTRL A &mt LALT R  &mt LGUI S  &mt LSHFT T &kp G           &kp M       &mt RSHFT N &mt RGUI E  &mt RALT I  &mt RCTRL O
    &kp DM_Z    &kp X       &kp C       &kp D       &kp V           &kp K       &kp H       &SMM_COMMA  &SMM_DOT    &SMM_FSLH   
                            &kp LGUI    &kp SPACE   &mo LOWER_M     &mo RAISE_M &kp RET     &kp LALT
            >;
        };

        LOWER_M_layer {
            label= "LOWER_M";
// -------------------------------------------------------------------------------------------------------------------------------
// |         |  HOME   |    UP   |   END   |         |                         |    %    |    7    |    8    |    9    |    =    |
// |CTRL(LFT)|  LEFT   |  DOWN   |  RIGHT  |CTRL(RGT)|                         |    *    |    4    |    5    |    6    |    +    |
// |         |  P UP   |         | P DOWN  |         |                         |    /    |    1    |    2    |    3    |    -    |
//                     |   LGUI  |  LSHFT  |         |                         |    ,    |    .    |    0    |
            bindings = <

    &none       &kp HOME    &kp UP      &kp END     &none           &kp DM_PRCNT &kp N7     &kp N8      &kp N9      &kp DM_EQUAL
    &kp DM_DL   &kp LEFT    &kp DOWN    &kp RIGHT   &kp DM_DR       &kp DM_STAR  &kp N4     &kp N5      &kp N6      &kp DM_PLUS
    &none       &kp PG_UP   &none       &kp PG_DN   &none           &kp DM_SLASH &kp N1     &kp N2      &kp N3      &kp DM_MINUS
                                &trans      &trans      &trans          &kp COMMA    &kp DOT    &kp N0      
                        >;
                };

    };
};